$red: #FF0000;
$light-red: #FF5555;

$dark-blue: #7E98DF;
$blue: #2675EC;
$light-blue: #39B3CA;
$lighter-blue: #5EB4DD;

$dark-green: #1EB025;
$green: #40D81A;

$dark-black: #000000;
$black: #131313;
$light-black: #232323;
$lighter-black: #848484;

$gray: #F6F6F6;
$quill-gray: #FAFAFA;
$white: #FFFFFF;

$inherit: inherit;

$color-list: (
  'red': $red,
  'light-red': $light-red,
  'dark-blue': $dark-blue,
  'blue': $blue,
  'light-blue': $light-blue,
  'lighter-blue': $lighter-blue,
  'dark-green': $dark-green,
  'green': $green,
  'dark-black': $dark-black,
  "black": $black,
  'light-black': $light-black,
  'lighter-black': $lighter-black,
  'gray': $gray,
  'quill-gray': $quill-gray,
  'white': $white,
  "inherit": $inherit
);

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;