$red: #ff0000;
$light-red: #ff5555;
$danger: #dd3444;

$dark-blue: #7e98df;
$blue: #2675ec;
$light-blue: #39b3ca;
$lighter-blue: #5eb4dd;

$dark-green: #1eb025;
$green: #40d81a;

$dark-black: #000000;
$black: #131313;
$light-black: #232323;
$lighter-black: #848484;

$gray: #f6f6f6;
$quill-gray: #fafafa;
$white: #ffffff;

$inherit: inherit;

$color-list: (
  'red': $red,
  'danger': $danger,
  'light-red': $light-red,
  'dark-blue': $dark-blue,
  'blue': $blue,
  'light-blue': $light-blue,
  'lighter-blue': $lighter-blue,
  'dark-green': $dark-green,
  'green': $green,
  'dark-black': $dark-black,
  'black': $black,
  'light-black': $light-black,
  'lighter-black': $lighter-black,
  'gray': $gray,
  'quill-gray': $quill-gray,
  'white': $white,
  'inherit': $inherit,
);

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
