.navigation-menu {
  overflow: hidden;
}

.navigation {
  width: 100%;
  align-items: baseline;
  position: relative;
}

.main-navigation {
  display: none;
  left: 30%;
  right: 0;
  background: $dark-blue;
  position: absolute;
  border-radius: 35px 10px 35px 35px;
  z-index: 1;
  padding: 1rem;
  li {
    display: flex;
    align-items: center;
    gap: 30px;
    color: $white;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5rem;
  }
}
.my-toggle {
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .main-navigation {
  display: block;
}
