.input-msg {
  height: 120px;
  padding: 0 52px;

  &--content {
    position: relative;
  }
  &--chat {
    padding: 20px 30px;
  }
  &--icon {
    top: 0;
    right: 30px;
    bottom: 0;
    gap: 23px;
    position: absolute;
  }
}
