.chatting {
  @include breakpoint-down(md) {
    display: none;
  }

  &-content {
    height: calc(100vh - 240px);
    overflow-y: auto;

    .content-chat {
      height: 100%;
      // width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      scroll-behavior: smooth;

      .scroll-bottom {
        overflow-y: auto;
      }
      .chat-item {
        width: fit-content;
        padding: 17px 33px;
        margin: 6px 0;
      }

      .friend-chat {
        color: $white;
        background: $dark-blue;
      }
      .friend-chat-1 {
        border-radius: 35px 35px 35px 10px;
      }

      .friend-chat-2 {
        border-radius: 10px 35px 35px 35px;
      }

      .my-chat-1 {
        border-radius: 35px 10px 35px 35px;
      }

      .my-chat-2 {
        border-radius: 35px 35px 10px 35px;
      }
      .my-chat {
        margin-left: auto;
        color: $light-black;
        background: $white;
      }
    }
    // background: rgb(240, 169, 169);
    padding: 25px 50px 0px 54px;
    @include breakpoint-down(md) {
      padding: 18px 14px 0px 14px;
    }
  }
  flex: 4;
  // @include breakpoint-down(sm) {
  //   transform: scale(0);
  //   -ms-transform: scale(0);
  //   &--close {
  //     display: none;
  //   }
  //   &--open {
  //     flex: 1;
  //     transform: scale(0);
  //     -ms-transform: scale(0);
  //   }
  // }
}
// display: none;
// flex: 0;
.open {
  @include breakpoint-down(md) {
    display: block;
  }
}

.chatting-room__closed {
  @include breakpoint-down(md) {
    display: none;
  }
}
